---
title: Tags
---

<h1>Tags</h1>

<% all_tags.each do |tag, count| %>
  <p>
    <a class="" href="/tags/<%= tag %>"><%= tag.downcase %></a> (<%= count %> post<%= 's' if count > 1 %>)
  </p>
<% end %>
