// Palette
$dark: #000;
$lightgrey: #999;
$secondary: #142850;
$color-hyperlink: #00909e;

$font-main: "Arial";
$font-title: "Times";

$content-width: 800px;

a {
  color: $color-hyperlink;
  text-decoration: none;
}

h2 { font-weight: 100; }

aside {
  font-family:  $font-title;
}

body {
  color: #222;
  font-family:  $font-main;
  font-size: 18px;
}

.text {
  font-family: $font-main;
  color: $dark;
}

// Layout
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

// Main content
.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: $content-width;
  margin-bottom: 50px;
  line-height: 2.0em;
  h1 { text-align: center; }

  .footer {
    margin: 20px 0;
    color: $dark;
    font-size: 90%;
    text-align: center;
  }
}

.header {
  margin: 0;
  color: #333;
  padding-top: 2em;
  padding-bottom: 0.2em;
  // background-image: linear-gradient(to left top, #bfcbe1, #b4c5e2, #aabee4, #9fb8e5, #94b1e6, #8aa9e4, #7fa2e2, #759ae0, #688fda, #5b84d4, #4e7ace, #406fc8);

  // Site title
  h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 250%;
    font-family: $font-title;
  }
  a {
    color: $dark;
  }
  // Navigation
  nav {
    padding: 1em 0;
    color: $dark;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 1em;
    max-width: $content-width;
    a {
      font-family:  $font-main;
      font-size: 95%;
      color: $dark;
    }

    .contact {
      img {
        width: 1em;
        height: 1em;
      }
      float: right;
      span {
        margin: 2px;
      }
    }
  }
}

// Post (Index)
.post-index {
  // border-bottom: 1px solid $lightgrey;
  margin-bottom: em;
  padding-top: 3em;
  padding-bottom: 3em;

  .post-tags {
    display: inline-block;
    margin: 10px 0;
  }
  h2 a {
    font-family:  $font-title;
    font-size: 120%;
    color: $dark;
    line-height: 1em;
    padding-top: 10px;
  }
  h2 {
    margin: 0 !important;
  }
  aside {
    color: $lightgrey;
  }
  .read-more {
    // font-size: 90%;
  }
  .tags {
    font-family:  $font-main;
    color: $lightgrey;
    font-size: 1.5em;

    a {
      margin: 10px;
      background-color: $secondary;
      color: white;
    }
  }
  .post-meta {
    text-align: right;
    font-size: 90%;
  }
  .post-footer {
  }
}

// Post (Show)
.post-show {
  h1 {
    text-align: center;
    color: $dark;
    font-weight: 300;
  }
  aside {
    font-style: italic;
    color: $lightgrey;
  }
  .post-footer {
    padding: 40px 0;
  }
}

article {
  img {
    width: 100%;
  }
}

.button-xsmall {
    font-size: 70%;
}

.image-box {
  position: relative;
  width: 100%;
  text-align: center;
  .image-caption {
    color: $lightgrey;
    font-style: italic;
    text-align: center;
    font-size: 70%;
  }
}

// Syntax highlighting
.highlight {
  padding: 0 10px;
  font-size: 80%;
}

// Responsive media queries
@media(max-width: 1000px) {
  .content {
    margin: 0.5em;
    max-width: 100%;
    line-height: 2em;
  }
  body { font-size: 36px; }
  h2 {
    font-size: 180%;
    line-height: 1.2em;
    margin: 20px 0;
  }
  nav {
    a {
      font-size: 120%;
    }
    .links {
      font-size: 32px;
    }
    .links-icon {
      font-size: 64px;
    }
  }
}
