// Palette
$dark: #141204;
$lightgrey: #999;
$secondary: #142850;
$third: #E6E6E6;
$code-dark: #071E22;
$color-hyperlink: #E84855;

$table-head: #222E50;
$table-head-text: #FFF;
$table-row: #FFF;

$font-main: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-alt: Monospace;

$content-width: 768px;

a {
  color: $color-hyperlink;
  font-weight: 900;
  text-decoration: none;
  border-bottom: 1px dashed $color-hyperlink;
}

aside {
  font-family:  $font-alt;
}

body {
  color: #222;
  font-family:  $font-main;
  font-size: 18px;
}

.text {
  font-family: $font-main;
  color: $dark;
}

// Layout
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

// Main content
.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: $content-width;
  margin-bottom: 50px;
  line-height: 1.7em;
  h1 { 
    text-align: center; 
    font-family: $font-alt;
    font-weight: normal;
  }

  .footer {
    background-color: #EEE;
    color: #333;
    text-align: center;
    width: 100%;
    left: 0;
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;

    .final {
      border-top: 1px solid gray;
      padding-top: 1em;
    }
  }
}

.carnaval {
  background: -webkit-linear-gradient(#027ec4, #ff1c1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold !important;
}

.header {
  margin: 0;
  color: #333;
  padding-top: 2em;
  padding-bottom: 0.2em;
  // background-image: linear-gradient(to left top, #bfcbe1, #b4c5e2, #aabee4, #9fb8e5, #94b1e6, #8aa9e4, #7fa2e2, #759ae0, #688fda, #5b84d4, #4e7ace, #406fc8);

  // Site title
  h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-family: $font-alt;
    line-height: 1em;
  }
  a {
    font-family: mono;
    font-weight: normal;
    color: $dark;
    border-bottom: none;
  }
  // Navigation
  nav {
    padding: 1em 0;
    color: $dark;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 1em;
    a {
      font-family:  $font-alt;
      color: $dark;
    }

    .contact {
      img {
        width: 1em;
        height: 1em;
      }
      float: right;
      span {
        margin: 2px;
      }
    }
  }
}

// Post (Index)
.post-index {
  // border-bottom: 1px solid $lightgrey;
  margin-bottom: em;
  padding-top: 2em;
  padding-bottom: 2em;

  .post-tags {
    display: inline-block;
    margin: 10px 0;
  }
  h2 a {
    color: $dark;
    font-family: $font-alt;
    line-height: 1em;
    font-size: 110%;
    padding-top: 10px;
    font-weight: 400;
    border-bottom: none;
  }
  h2 {
    margin: 0 !important;
  }
  aside {
    color: $lightgrey;
  }
  .read-more {
    font-size: 90%;
  }
  .tags {
    font-family:  $font-main;
    color: $lightgrey;

    a {
      margin: 0.5em 0;
      background-color: $secondary;
      color: white;
    }
  }
  .post-meta {
    text-align: right;
  }
  .post-footer {
  }
}

// Post (Show)
.post-show {
  h2 {
    text-align: center;
    font-family: $font-alt;
    // color: $dark;
    font-weight: 400;
    font-size: 1.5em;
    border: 1px solid black;
    // background-color: $third;
    // color: white;
    padding-bottom: 1em;
    padding-top: 1em;

  }
  h3 {
    font-weight: 400;
    // background-color: $third;
    font-family: $font-alt;
    // color: $dark;
    // padding: 10px;
  }
  aside {
    font-style: italic;
    color: $lightgrey;
  }
  .post-footer {
    padding: 40px 0;
  }
}

blockquote {
  font-style: italic;
  font-family: serif;
  // border-radius: 1px;
  // background-color: #EFEFEF;
  // border: 0px solid #7A82AB;
  margin: 0 0;
  padding: 1em 10%;
  font-size: 140%;
}

article {
  img {
    width: 100%;
  }
}

.tag-button {
  border-radius: 6px;
  font-family: $font-alt;
  font-size: 90%;
}

table {
  font-family: $font-alt;
  background: $table-row;
  font-size: 80%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: $table-head;
  color: $table-head-text;
}

td {
  padding: 0.1em;
  line-height: 1.6em;
}

tr:nth-child(odd) {
  background-color: #dfe5f7;
}
.tag-count {
  color: white;
}

.stretch {
  img { width: 100% !important; }
}

.image-box {
  a { border-bottom: none; }
  img { width: auto; }
  position: relative;
  text-align: center;

  .image-caption {
    color: $lightgrey;
    font-style: italic;
    text-align: center;
  }
}

// Syntax highlighting
// -- Inline
code {
  background-color: $third;
}

// -- Blocks
.highlight {
  code {
    background-color: $code-dark;
    color: white;
  }

  padding: 1px 20px;
  line-height: 1.5;
  background-color: $code-dark !important;
}

// Responsive media queries
@media only screen and (max-width: 480px) {
  .header { padding-top: 6px; }
  .content {
    max-width: 100%;
    margin: 0.2em;
    line-height: 1.65em;
  }
  body { font-size: 1em; }
  h2 {
    line-height: 1.2em;
    margin: 5px 0;
  }
  nav {
    a {
      font-size: 120%;
    }
    .links {
      font-size: 0.8em;
    }
    .links-icon {
      font-size: 1.2em;
    }
  }
}

.book-review-meta {
  background-color: #5e5e5e;
  color: white;
  font-family: $font-alt;
  padding: 0.1em 0.5em;
}
