<div class="book-review-meta">
<p>
Author: <%= book[:book_meta][:author] %>
</p>
<p>
Year: <%= book[:book_meta][:publication_year] %>
</p>
<p>
Rating: <%= book[:book_meta][:rating] %>/5 ⭐
</p>
<p>
Read in: <%= book[:book_meta][:read_at] %>
</p>
</div>
