<div class="image-box">
  <div>
    <img class="lazy" data-src="<%= src %>" alt="<%= defined?(alt) ? alt : '' %>">
    <noscript>
      <img src="<%= src %>" alt="Alternative text to describe image.">
    </noscript>
  </div>
  <% if defined?(caption) %>
    <div class="image-caption"><%= caption %></div>
  <% end %>
</div>
