<div class="image-box">
  <div>
    <a href="<%= src %>" target="_blank">
      <img class="lazy" data-src="<%= src %>" alt="<%= alt %>">
    </a>
  </div>
  <% if defined?(caption) %>
    <div class="image-caption"><%= caption %></div>
  <% end %>
</div>
